body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;  /* Fondo blanco */
    position: relative; /* Necesario para usar el pseudo-elemento */
}

body::before {
    content: ""; /* Crea un pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/backgroundsales.jpg"); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Baja la opacidad de la imagen para que no opaque tanto el fondo */
    z-index: -1; /* Asegura que la imagen quede por detrás del contenido */
}

header, footer {
    background-color: #067f7f;
    color: white;
    padding: 10px;
}

.header-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.logo-ohana {
    width: 20%; 
    height: auto;
}

.header-icons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.user-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 8px; 
    padding: 0.1% 0.1%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1%;
}

/* Efecto hover para el botón */
.user-button:hover {
    background-color: #cbe4e1; /* Fondo ligeramente más oscuro al pasar el mouse */
}

/* Contenedor de la imagen y la información del usuario */
.user-profile {
    display: flex;
    align-items: center; 
    margin-right: 10px; 
}

/* Estilo de la imagen de perfil */
.profile-image {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

/* Contenedor de la información del usuario */
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Nombre de usuario */
.user-name {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

/* Cargo de usuario */
.user-position {
    font-size: 12px;
    color: #d3d3d3; 
}

.icon-button {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

.user-button {
    display: flex;
    align-items: center;
    padding: 0.1%;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center; 
    margin-right: 10px; 
}

.profile-image {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content {
    display: flex;
    flex: 1;
    height: 100vh;
    margin-left: 0%;
    overflow-y: auto;
}


.sidebar {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    z-index: 10; 
    background: rgba(255, 255, 255, 0.7); 
    border-radius: 8px; 
    padding: 0; 
    margin-top: 8%; 
    margin-bottom: 5%; 
    margin-right: 2%;
    left: 1%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.sidebar ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    width: 100%;
}

.content {
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    margin: 0%;
}

.top-buttons {
    display: flex;                /* Cambiar a flexbox */
    justify-content: center;      /* Centra los elementos horizontalmente */
    align-items: center;          /* Centra los elementos verticalmente */
    gap: 10px;                    /* Espacio entre los botones */
    flex-wrap: wrap;              /* Permite que los botones se ajusten a una nueva línea si no caben */
    width: 100%;     
    margin-bottom: 2%;             /* Aseguramos que el contenedor ocupe el 100% del ancho disponible */     
    margin-top: 1%; 
}

.fast-button {               /* Los botones ocuparán todo el ancho del contenedor */
    padding: 10px 20px;
    background-color: #067f7f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}
.main-content-grid {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.left-half {
    width: 50%;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 1%;
}

.button-sales{
    background-color: transparent;
    border: transparent;
    font-size: 16px;
}

.button-sales :hover{
    transform: scale(1.1);
    color: #067f7f;
}

h2{
    background-color: none;
    margin: 0%;
}

.recent-sales {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.recent-sales th {
    background-color: #067f7f; /* Verde oscuro */
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

.recent-sales td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.recent-sales tr:nth-child(even) {
    background-color: #f2f2f2; /* Blanco para las filas pares */
}

.recent-sales tr:nth-child(odd) {
    background-color: #c9dbd6; /* Verde claro para las filas impares */
}

.recent-sales tr:hover {
    background-color: #92c3bd; /* Color cuando se pasa el mouse sobre la fila */
}

.right-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 1px; 
    width: 50%; 
    position: relative;
    right: 1%; 
    top: 20%;
}

.button-item {
    position: relative;
    overflow: hidden;
    padding: 1px; 
    margin: 0%; 
    height: 100%;
    width: 100%;
    
}

.button-text {
    color: black; 
    font-size: 16px; 
    border: none;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    position: absolute; 
    top: 0; /* El texto estará en la parte superior de la imagen */
    left: 0;
    margin: 0%;
    background-color: transparent;
}

.button-text:hover {
    transform: scale(1.1);
    color: #067f7f; /* Cambia el color del texto a verde al hacer hover */
}

.image-container {
    width: 100%; 
    height: 100%; 
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%; /* Espacio para que el texto no quede cubierto por la imagen */
    margin-bottom: 0%;
    align-self: center;
}

.image-container img {
    width: 80%; /* Tamaño fijo de la imagen */
    height: 80%;
    object-fit: cover;
    margin: 0%;
}


.large-button span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.large-button:hover img {
    opacity: 0;
}

.large-button:hover span {
    opacity: 1;
}

footer {
    background-color: #8cb5ae;
    color: #fff;
    padding: 0.2%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: smaller;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.footer-info {
    text-align: left;
    flex-basis: 40%;
    margin-left: 1%;
}

.footer-info p {
    margin: 5px 0;
}

.social-links {
    display: flex;
    justify-content: right;
    flex-basis: 50%;
    margin-left: auto;
}

.social-links a {
    margin: 0 15px;
    display: inline-block;
}

.social-links img {
    width: 30px; /* Ajusta el tamaño de los iconos */
    height: 30px;
    transition: transform 0.3s ease;
}

.social-links a:hover img {
    transform: scale(1.1); /* Efecto hover para los iconos */
}